<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The easiest way to share schedules and find out who's in your classes!">
    <title>Edit · ClassReveal</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">ClassReveal</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="{{ url_for('edit') }}">Edit</a>
                    <a class="nav-link" href="{{ url_for('logout') }}">Sign Out</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h3 class="cover-heading">Edit Schedule</h3>
            <br>
            {%- with messages = get_flashed_messages(with_categories=true) -%}
            {%- if messages -%}
            {%- for category, message in messages -%}
            <div class="alert alert-{{category}}" role="alert">
                {{ message }}
            </div>
            <br>
            {%- endfor -%}
            {%- endif -%}
            {%- endwith -%}
            <form method="post">
                {%- for teacher in schedule.values()-%}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Period {{ loop.index }}:</span>
                    </div>
                    <input name="period_{{ loop.index }}" class="form-control" type="text" value="{{ teacher }}" autocomplete="off" required>
                </div>
                <br>
                {%- endfor -%}
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                <br>
                <br>
            </form>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p class="lead">Made by Daniel Wang, Rahul Shah, Akash Bobba and Krish Thawani.</p>
                <p class="lead">Email questions to: <a href="mailto:team@classreveal.com">team@classreveal.com</a>.</p>
            </div>
        </footer>
    </div>
</body>

</html>
