<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The easiest way to share schedules and find out who's in your classes!">
    <title>FAQ · ClassReveal</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">ClassReveal</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="{{ url_for('faq') }}">FAQ</a>
                    {%- if user -%}
                    <a class="nav-link" href="{{ url_for('view') }}">View</a>
                    <a class="nav-link" href="{{ url_for('edit') }}">Edit</a>
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                    {%- endif -%}
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h3 class="mb-4">FAQ</h3>
            <div class="accordion mb-3 text-dark md-accordion" id="accordionEx" role="tablist"
                aria-multiselectable="true">
                <div class="card bg-light">
                    <div class="card-header" role="tab" id="heading1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">
                            <h5 class="mb-0">
                                What is Class Reveal? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1"
                        data-parent="#accordionEx">
                        <div class="card-body">
                            Class Reveal is a web app that facilitates the synchronization and sharing of schedules
                            between students. It was created to help students discover their class rosters
                            prior to the start of school.
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-header" role="tab" id="heading2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse2"
                            aria-expanded="false" aria-controls="collapse2">
                            <h5 class="mb-0">
                                How does it work? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2"
                        data-parent="#accordionEx">
                        <div class="card-body">
                            Class Reveal utilizes schedule data from users to collate and render a class view
                            that helps students discover who's in their classes.
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-header" role="tab" id="heading3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse3"
                            aria-expanded="false" aria-controls="collapse3">
                            <h5 class="mb-0">
                                Meet the team!<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3"
                        data-parent="#accordionEx">
                        <div class="card-body">
                            Class Reveal was originally created by Elizabeth Petrov and Xavier Lu in 2016-2017. It
                            has been maintained in the past by Bharath Hegde, Peter Wu, Spencer Hua, and Serena
                            Chang. This years site has been renovated and constructed by Daniel Wang, Akash
                            Bobba, Aman Wadhwa, Jivi Irivichetty, and Krish Thawani. 
                        </div>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-header" role="tab" id="heading5">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse5"
                            aria-expanded="false" aria-controls="collapse5">
                            <h5 class="mb-0">
                                I got rate limited!? <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5"
                        data-parent="#accordionEx">
                        <div class="card-body">
                            Class Reveal was designed and constructed to be used to find friends and classmates in
                            <b>your</b> classes. In order to ensure that it is being used for this purpose, and to
                            mitigate the strain of simultaneous database queries we have implemented rate limiting
                            to
                            prevent misuse of the platform. If you have been rate limited please wait for the
                            restriction to expire.
                        </div>
                    </div>
                    <div class="card bg-light">
                        <div class="card-header" role="tab" id="heading6">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapse6"
                                aria-expanded="false" aria-controls="collapse6">
                                <h5 class="mb-0">
                                    Questions, concerns, complaints... <i class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>
                        <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                For more information or questions contact us at <a
                                    href="mailto:team@classreveal.com">team@classreveal.com</a>. For complaints select
                                the button
                                below.
                                <button type="button" class="mt-3 btn btn-block btn-outline-warning"
                                    onclick="alert('👌');">Complain</button>
                            </div>
                        </div>
                    </div>

                </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p class="lead">Email questions to: <a href="mailto:team@classreveal.com">team@classreveal.com</a>.</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146166505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-146166505-1');
    </script>
</body>

</html>