<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The easiest way to share schedules and find out who's in your classes!">
    <title>Share · ClassReveal</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <meta name="theme-color" content="#563d7c">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 pt-3 mx-auto flex-column">
        <div class="container inner-container">

            <header class="masthead mb-auto">
                <div class="inner">
                    <a href="/">
                        <h3 class="masthead-brand"><img src="{{ url_for('static', filename='img/banner.png') }}"
                                height=50>
                        </h3>
                    </a>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a> {%- if current_user.is_authenticated -%}
                        <a class="nav-link" href="{{ url_for('view') }}">View</a>
                        <a class="nav-link" href="{{ url_for('edit') }}">Edit</a>
                        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a> {%- endif -%}
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover" style="margin-top:8rem!important">
              <h3 class="cover-heading">{{ name }}'s Schedule</h3>
              <br>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Period</th>
                    <th scope="col">Teacher</th>
                  </tr>
                </thead>
                <tbody>
                  {%- for teacher in schedule.values() -%}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ teacher }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </main>
        </div>

        <footer class="mastfoot mt-auto">
            <div class="wave-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280">
                    <path fill="#ffc107" fill-opacity="1"
                        d="M0,256L48,229.3C96,203,192,149,288,144C384,139,480,181,576,192C672,203,768,181,864,154.7C960,128,1056,96,1152,96C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>

            </div>
            <div class="inner email-footer">
                <p class="lead">Email questions to: <a href="mailto:team@classreveal.com">team@classreveal.com</a>.
                </p>
            </div>
        </footer>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146166505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-146166505-1');
    </script>
</body>

</html>
